.portfolio__techstack{
    border-radius: 15px;
    background-color: var(--color-footer);
}
.portfolio__techstack h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 3rem;
}

.portfolio__techstack-list{
    font-size: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    margin-bottom: 1rem
}

@media screen and (max-width: 374){
    .portfolio__techstack{
        margin: 1rem 1rem;
    }
    .portfolio__techstack h1{
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 25px;
        margin-bottom: 3rem;
    }    
}
